#
# Firmware de la Impresora 3D Marlin
# Derechos de autor (c) 2020 MarlinFirmware [https://github.com/MarlinFirmware/Marlin]
#
# Basado en Sprinter y grbl.
# Derechos de autor (c) 2011 Camiel Gubbels / Erik van der Zalm
#
# Este programa es software libre: puedes redistribuirlo y/o modificarlo
# bajo los términos de la Licencia Pública General de GNU publicada por
# la Free Software Foundation, ya sea la versión 3 de la Licencia, o
# (a tu elección) cualquier versión posterior.
#
# Este programa se distribuye con la esperanza de que sea útil,
# pero SIN GARANTÍA ALGUNA; sin incluso la garantía implícita de
# COMERCIABILIDAD o ADECUACIÓN PARA UN PROPÓSITO PARTICULAR. Consulta la
# Licencia Pública General de GNU para obtener más detalles.
#
# Deberías haber recibido una copia de la Licencia Pública General de GNU
# junto con este programa. Si no, consulta <https://www.gnu.org/licenses/>.
#

# Archivos generados
_Version.h
bdf2u8g.exe
genpages.exe
marlin_config.json
mczip.h
language*.csv
out-csv/
out-language/
*.gen
*.sublime-workspace

# Sistema operativo
applet/
.DS_Store

# Archivos de objeto C++ compilados
*.slo
*.lo
*.o
*.obj
*.ino.cpp

# Encabezados precompilados
*.gch
*.pch

# Bibliotecas dinámicas compiladas
*.so
*.dylib
*.dll

# Archivos de módulo Fortran
*.mod
*.smod

# Bibliotecas estáticas compiladas
*.lai
*.la
*.a
*.lib

# Ejecutables
*.exe
*.out
*.app

# Archivos de objeto C compilados
*.o
*.ko
*.obj
*.elf

# Encabezados precompilados
*.gch
*.pch

# Bibliotecas
*.lib
*.a
*.la
*.lo

# Objetos compartidos (incluidas las DLL de Windows)
*.dll
*.so
*.so.*
*.dylib

# Ejecutables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Archivos de depuración
*.dSYM/
*.su

# Archivos/directorios de PlatformIO
.pio*
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
/lib/

# Credenciales seguras
Configuration_Secure.h

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
Release/
Debug/
__vm/
.vs/
vc-fileutils.settings

# Visual Studio Code
.vscode/*
!.vscode/extensions.json

# Archivos de simulación
imgui.ini
eeprom.dat
spi_flash.bin
fs.img

# CMake
buildroot/share/cmake/*
CMakeLists.txt
!buildroot/share/cmake/CMakeLists.txt
src/CMakeLists.txt
CMakeListsPrivate.txt
build/

# CLion
cmake-build-*

# Eclipse
.project
.cproject
.pydevproject
.settings
.classpath

# Python
__pycache__

# Registros de IOLogger
*_log.csv

# Varios
*~
*.orig
*.rej
*.bak
*.idea
*.i
*.ii
*.swp
tags
*.logs
*.bak
